.user_avatar_img{
  width: 30px;
  height: 30px;
  border-radius: 100%;
  object-fit: cover;
}

.user_avatar_plug{
  width: 30px;
  height: 30px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}