.header {
  background-color: rgb(32, 32, 32);
  height: 7dvh;
  width: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__user {
    display: flex;
    gap: 10px;
    align-items: center;
    color: #ffffff;
    cursor: pointer;
    transition: 0.3s;

    &:hover{
      color: #84bdfa;
    }
  }

  &__auth_link{
    color: #ffffff;
    transition: 0.3s;

    &:hover{
      color: #84bdfa;
    }
  }
}