.comment_list{
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: auto;
  width: clamp(300px, 50%, 800px);

  &__title{
    margin: 0;
  }

  &__items{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-right: 10px;
  }
}